.titulo{
  text-align: center;
  background-color: black;
  color: antiquewhite;
  padding: 20px;
  font-size: 25px;
}

html,body{
  margin: 0px;
  background-color: #2f4f30;
  color: white;
}
.carta{
  width: 150px;
  position: relative;
  left: 100px;
  margin-left: -85px;
}

#computadora-cartas, #jugador-cartas{
  height: 230px;
}